USE [master]
GO
/****** Object:  Database [Gaming-Center MG]    Script Date: 6/6/2020 12:55:57 AM ******/
CREATE DATABASE [Gaming-Center MG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gaming-Center MG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Gaming-Center MG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Gaming-Center MG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Gaming-Center MG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gaming-Center MG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gaming-Center MG]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[ComputerID] [int] NULL,
	[ClientID] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Totali] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[IsGuest] [bit] NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PersonalID] [varchar](11) NOT NULL,
	[Adress] [varchar](50) NULL,
	[Birthday] [date] NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Balance] [money] NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((0)),
	[InsertBy] [varchar](50) NULL,
	[InsertDate] [datetime] NULL DEFAULT (getdate()),
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComputerParts]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComputerParts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[Case] [nvarchar](255) NOT NULL,
	[Mouse] [nvarchar](255) NOT NULL,
	[Keyboard] [nvarchar](255) NOT NULL,
	[HeadSets] [nvarchar](255) NOT NULL,
	[Monitor] [nvarchar](255) NOT NULL,
	[MousePad] [nvarchar](50) NOT NULL,
	[Processor] [nvarchar](50) NOT NULL,
	[GraphicCard] [nvarchar](50) NOT NULL,
	[MotherBoard] [nvarchar](50) NOT NULL,
	[RAM] [nvarchar](50) NOT NULL,
	[SSD] [nvarchar](50) NOT NULL,
	[HDD] [nvarchar](50) NOT NULL,
	[PCU] [nvarchar](50) NOT NULL,
	[Cooler] [nvarchar](50) NOT NULL,
	[InsertBy] [varchar](50) NULL,
	[InsertDate] [datetime] NULL DEFAULT (getdate()),
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Computers](
	[ComputerID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [int] NULL,
	[PricePerHour] [money] NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((0)),
	[InsertBy] [varchar](50) NULL,
	[InsertDate] [datetime] NULL DEFAULT (getdate()),
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ComputerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employess]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employess](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PersonalID] [varchar](11) NOT NULL,
	[Adress] [varchar](50) NULL,
	[Birthday] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Salary] [money] NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((0)),
	[InsertBy] [varchar](50) NULL,
	[InsertDate] [datetime] NULL DEFAULT (getdate()),
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NULL,
	[BillID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductPrice] [money] NULL,
	[ProductQuantity] [int] NULL,
	[InsertBy] [varchar](50) NULL,
	[InsertDate] [datetime] NULL DEFAULT (getdate()),
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([ComputerID])
REFERENCES [dbo].[Computers] ([ComputerID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employess] ([EmployeeID])
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[ComputerParts] ([PartID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [BillID] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [BillID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders]
GO
/****** Object:  StoredProcedure [dbo].[ADD_ComputerParts]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ADD_ComputerParts]
@case nvarchar(255),
@mouse nvarchar(255),
@keyboard nvarchar(255),
@headsets nvarchar(255),
@monitor nvarchar(255),
@mousepad nvarchar(50),
@processor nvarchar(50),
@graphiccard nvarchar(50),
@motherboard nvarchar(50),
@ram nvarchar(50),
@ssd nvarchar(50),
@hdd nvarchar(50),
@psu nvarchar(50),
@cooler nvarchar(50),
@insertby varchar(50),
@insertdate datetime
AS
INSERT INTO ComputerParts
(
    --PartID - column value is auto-generated
    [Case],
    Mouse,
    Keyboard,
    HeadSets,
    Monitor,
    MousePad,
    Processor,
    GraphicCard,
    MotherBoard,
    RAM,
    SSD,
    HDD,
    PCU,
    Cooler,
    InsertBy,
    InsertDate
  
)
VALUES
(
@case,@mouse,@keyboard,@headsets,@monitor,@mousepad,@processor,@graphiccard,@motherboard,@ram,@ssd,@hdd,@psu,@cooler,@insertby,@insertdate
)
GO
/****** Object:  StoredProcedure [dbo].[Add_Computers]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
CREATE PROCEDURE [dbo].[Add_Computers]
(
@partid int,
@priceperhour money,
@insertby varchar(50),
@insertdate datetime
)
AS
BEGIN
INSERT INTO dbo.Computers
(
    --ComputerID - column value is auto-generated
    PartID,
    PricePerHour,
    InsertBy,
    InsertDate
)
VALUES
(
@partid,@priceperhour,@insertby,@insertdate
)
END
GO
/****** Object:  StoredProcedure [dbo].[Add_Employess]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Add_Employess]

@name varchar(50),
@lastname varchar(50),
@personalid varchar(11),
@address varchar(50),
@birthday date,
@email varchar(50),
@phonenumber varchar(50),
@username varchar(50),
@password varchar(50),
@salary money,
@insertby varchar(50),
@insertdate date
AS 
INSERT INTO dbo.Employess
(
    --EmployeeID - column value is auto-generated
    Name,
    LastName,
    PersonalID,
    Adress,
    Birthday,
    Email,
    PhoneNumber,
    UserName,
    Password,
    Salary,
    InsertBy,
	InsertDate
)
VALUES
(
    @name,@lastname,@personalid,@address,@birthday,@email,@phonenumber,@username,@password,@salary,@insertby,@insertdate
)
GO
/****** Object:  StoredProcedure [dbo].[Add_Products]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Add_Products]

@productname varchar(50),
@productprice money,
@quantity int

As
INSERT INTO dbo.Products
(
    --ProductID - column value is auto-generated
    ProductName,
    ProductPrice,
    ProductQuantity
	)
VALUES
(
   @productname,@productprice,@quantity
)


GO
/****** Object:  StoredProcedure [dbo].[Clients_Edit]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Clients_Edit]
@clientid int,
@name varchar(50),
@lastname varchar(50),
@personalid varchar(11),
@address varchar(50),
@birthday date,
@email varchar(50),
@phonenumber varchar(50),
@username varchar(50),
@password varchar(50),
@balance money,
@updateby varchar(50),
@updatedate datetime,
@updateno int

AS
BEGIN
	UPDATE dbo.Clients
	SET
	    --ClientID - column value is auto-generated
	    dbo.Clients.Name = @name,
	    dbo.Clients.LastName = @lastname,
	    dbo.Clients.PersonalID = @personalid,
	    dbo.Clients.Adress = @address,
	    dbo.Clients.Birthday = @birthday,
	    dbo.Clients.PhoneNumber = @phonenumber,
	    dbo.Clients.Email = @email,
	    dbo.Clients.UserName = @username,
	    dbo.Clients.[Password] = @password,
	    dbo.Clients.Balance = @balance,
	    dbo.Clients.UpdateBy = @updateby,
	    dbo.Clients.UpdateDate = @updatedate,
	    dbo.Clients.UpdateNo = @updateno
		WHERE ClientID = @clientid
END
GO
/****** Object:  StoredProcedure [dbo].[Clients_Editt]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Clients_Editt]
@clientid int,
@isguest bit,
@name varchar(50),
@lastname varchar(50),
@personalid varchar(11),
@address varchar(50),
@birthday date,
@email varchar(50),
@phonenumber varchar(50),
@username varchar(50),
@password varchar(50),
@balance money,
@updateby varchar(50),
@updatedate datetime,
@updateno int

AS
BEGIN
	UPDATE dbo.Clients
	SET
	    --ClientID - column value is auto-generated
	    dbo.Clients.IsGuest = @isguest,
	    dbo.Clients.Name = @name,
	    dbo.Clients.LastName = @lastname,
	    dbo.Clients.PersonalID = @personalid,
	    dbo.Clients.Adress = @address,
	    dbo.Clients.Birthday = @birthday,
	    dbo.Clients.PhoneNumber = @phonenumber,
	    dbo.Clients.Email = @email,
	    dbo.Clients.UserName = @username,
	    dbo.Clients.[Password] = @password,
	    dbo.Clients.Balance = @balance,
	    dbo.Clients.UpdateBy = @updateby,
	    dbo.Clients.UpdateDate = @updatedate,
	    dbo.Clients.UpdateNo = @updateno
		WHERE ClientID = @clientid
END

GO
/****** Object:  StoredProcedure [dbo].[Clients_GetALL]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDUre [dbo].[Clients_GetALL]
AS
SELECT * FROM dbo.Clients c
GO
/****** Object:  StoredProcedure [dbo].[Clients_Insert]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Clients_Insert]
@name varchar(50),
@lastname varchar(50),
@personalid varchar(11),
@address varchar(50),
@birthday date,
@phonenumber varchar(20),
@email varchar(50),
@username varchar(50),
@password varchar(50),
@balance money,
@insertby varchar(50),
@insertdate datetime


AS
INSERT INTO dbo.Clients
(
    --ClientID - column value is auto-generated
    
    Name,
    LastName,
    PersonalID,
    Adress,
    Birthday,
    PhoneNumber,
    Email,
    UserName,
    Password,
    Balance,
	InsertBy,
	InsertDate
  
)
VALUES
(
@name,@lastname,@personalid,@address,@birthday,@phonenumber,@email,@username,@password,@balance,@insertby,@insertdate
)
GO
/****** Object:  StoredProcedure [dbo].[Computers_Delete]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Computers_Delete]
(
@computerid int
)
AS
BEGIN

DELETE FROM dbo.Computers WHERE dbo.Computers.ComputerID = @computerid
END
GO
/****** Object:  StoredProcedure [dbo].[Computers_Update]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Computers_Update]
(
@computerid int,
@partid int,
@priceperhour money,
@updateby varchar(50),
@updatedate datetime,
@updateno int
)
AS
BEGIN
UPDATE dbo.Computers
SET
    --ComputerID - column value is auto-generated
    dbo.Computers.PartID = @partid,
    dbo.Computers.PricePerHour =@priceperhour,
    dbo.Computers.UpdateBy = @updateby,
    dbo.Computers.UpdateDate = @updatedate,
    dbo.Computers.UpdateNo = @updateno

	WHERE ComputerID = @computerid
END

GO
/****** Object:  StoredProcedure [dbo].[Delete_ClientsByID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Delete_ClientsByID]
@clientid int
as
BEGIN
DELETE FROM dbo.Clients WHERE dbo.Clients.ClientID= @clientid
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_ComputerPartsByID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Delete_ComputerPartsByID]
@partid int
AS
BEGIN
DELETE FROM dbo.ComputerParts WHERE dbo.ComputerParts.PartID = @partid
END

GO
/****** Object:  StoredProcedure [dbo].[Delete_EmployeeByID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Delete_EmployeeByID]
@employeeid int 
AS
BEGIN
DELETE FROM dbo.Employess WHERE dbo.Employess.EmployeeID = @employeeid
END

GO
/****** Object:  StoredProcedure [dbo].[Delete_ProductsByID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Delete_ProductsByID]
@productid int
AS
BEGIN
DELETE FROM dbo.Products WHERE dbo.Products.ProductID = @productid
END
GO
/****** Object:  StoredProcedure [dbo].[Edit_Products]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Edit_Products]
@productname varchar(50),
@productprice money,
@productquantity int,
@updateby varchar(50),
@updatedate datetime,
@updateno int
AS
BEGIN 

UPDATE dbo.Products
SET
  dbo.Products.ProductName = @productname, dbo.Products.ProductPrice = @productprice, dbo.Products.ProductQuantity = @productquantity
  ,UpdateBy = @updateby, dbo.Products.UpdateDate = @updatedate, dbo.Products.UpdateNo=@updateno
  WHERE dbo.Products.ProductName = @productname;

End
GO
/****** Object:  StoredProcedure [dbo].[Employess_Edit]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employess_Edit]
@employeeid int,
@name varchar(50),
@lastname varchar(50),
@personalid varchar(11),
@address varchar(50),
@birthday date,
@email varchar(50),
@phonenumber varchar(50),
@username varchar(50),
@password varchar(50),
@salary money,
@updateby varchar(50),
@updatedate datetime,
@updateno int
AS
BEGIN
UPDATE dbo.Employess
SET
    --EmployeeID - column value is auto-generated
    dbo.Employess.Name = @name,
    dbo.Employess.LastName = @lastname,
    dbo.Employess.PersonalID = @personalid,
    dbo.Employess.Adress = @address,
    dbo.Employess.Birthday = @birthday,
    dbo.Employess.Email = @email,
    dbo.Employess.PhoneNumber = @phonenumber,
    dbo.Employess.UserName = @username,
    dbo.Employess.[Password] = @password,
    dbo.Employess.Salary = @salary,
    dbo.Employess.UpdateBy = @updateby,
    dbo.Employess.UpdateDate = @updatedate,
    dbo.Employess.UpdateNo = @updateno
	where dbo.Employess.EmployeeID = @employeeid
End
GO
/****** Object:  StoredProcedure [dbo].[Employess_GetALL]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Employess_GetALL]
AS
SELECT * FROM dbo.Employess e
GO
/****** Object:  StoredProcedure [dbo].[GetALL_ComputerParts]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetALL_ComputerParts]
AS
SELECT * FROM dbo.ComputerParts cp
GO
/****** Object:  StoredProcedure [dbo].[GetALL_Computers]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetALL_Computers]
AS
SELECT * FROM dbo.Computers c
GO
/****** Object:  StoredProcedure [dbo].[GetCase]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCase]
AS
BEGIN
SELECT cp.[Case] FROM dbo.ComputerParts cp

END
GO
/****** Object:  StoredProcedure [dbo].[GetPartID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPartID]
AS
BEGIN
SELECT PartID FROM dbo.ComputerParts cp

END

GO
/****** Object:  StoredProcedure [dbo].[LoginEmployee]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[LoginEmployee]
@username varchar(50),
@password varchar(50)
as
SELECT * FROM dbo.Employess e
WHERE e.UserName = @username
AND e.Password = @password
GO
/****** Object:  StoredProcedure [dbo].[PCparts_Edit]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PCparts_Edit]
(
@partid int ,
@case varchar(255),
@mouse varchar(255),
@keyboard varchar(255),
@headsets varchar(255),
@monitor varchar(255),
@mousepad varchar(50),
@processor varchar(255),
@graphiccard varchar(255),
@motherboard varchar(50),
@ram varchar(50),
@ssd varchar (50),
@hdd varchar(50),
@psu varchar(50),
@cooler varchar(50),
@updateby varchar(50),
@updatedate datetime,
@updateno int
)
AS
BEGIN
UPDATE dbo.ComputerParts
SET
    --PartID - column value is auto-generated
    dbo.ComputerParts.[Case] = @case,
    dbo.ComputerParts.Mouse = @mouse,
    dbo.ComputerParts.Keyboard = @keyboard,
    dbo.ComputerParts.HeadSets = @headsets,
    dbo.ComputerParts.Monitor = @monitor,
    dbo.ComputerParts.MousePad = @mousepad,
    dbo.ComputerParts.Processor = @processor,
    dbo.ComputerParts.GraphicCard = @graphiccard,
    dbo.ComputerParts.MotherBoard = @motherboard,
    dbo.ComputerParts.RAM = @ram,
    dbo.ComputerParts.SSD = @ssd,
    dbo.ComputerParts.HDD = @hdd,
    dbo.ComputerParts.PCU = @psu,
    dbo.ComputerParts.Cooler = @cooler,
    dbo.ComputerParts.UpdateBy = @updateby,
    dbo.ComputerParts.UpdateDate = @updatedate,
    dbo.ComputerParts.UpdateNo = @updateno
	WHERE PartID = @partid
END

GO
/****** Object:  StoredProcedure [dbo].[Product_Edit]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_Edit]
@productid int,
@productname varchar(50),
@productprice money,
@productquantity int,
@updateby varchar(50),
@updatedate datetime,
@updateno int
AS
BEGIN 

UPDATE dbo.Products
SET
  dbo.Products.ProductName = @productname, dbo.Products.ProductPrice = @productprice, dbo.Products.ProductQuantity = @productquantity
  ,UpdateBy = @updateby, dbo.Products.UpdateDate = @updatedate, dbo.Products.UpdateNo=@updateno
  WHERE dbo.Products.ProductID = @productid
End
GO
/****** Object:  StoredProcedure [dbo].[Product_GETALL]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Product_GETALL]
AS
SELECT p.ProductID,p.ProductName,p.ProductPrice,p.ProductQuantity FROM dbo.Products p
GO
/****** Object:  StoredProcedure [dbo].[ProductGetByID]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ProductGetByID](
@productID int
)
as

BEGIN 
SELECT * FROM dbo.Products p
WHERE p.ProductID = @productID
END


GO
/****** Object:  StoredProcedure [dbo].[Products_ADD]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Products_ADD]

@productname varchar(50),
@productprice money,
@quantity int,
@insertby varchar(50),
@insertdate datetime

As
INSERT INTO dbo.Products
(
    --ProductID - column value is auto-generated
    ProductName,
    ProductPrice,
    ProductQuantity,
	InsertBy,
	InsertDate
	)
VALUES
(
   @productname,@productprice,@quantity,@insertby,@insertdate
)
GO
/****** Object:  StoredProcedure [dbo].[UserName_Check]    Script Date: 6/6/2020 12:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserName_Check](
@username varchar(50)
)
AS
BEGIN
SELECT * FROM dbo.Employess e WHERE e.UserName =@username
END
GO
USE [master]
GO
