<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Game-Center" connectionString="Server = DESKTOP-7H107GR\SQLEXPRESS;Database=Gaming-Center MG; User ID=game-center; Password=gamecenter"/>
  

  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>